extends layout



block content
  h1= title
  a login
  p Welcome to #{title}
  img(src="", alt="", srcset="" id="stream")
  br
  button(id ="start", class="btn-lg btn-outline-secondary", onclick="startStream()") Conectar a preview
  button(id ="stop", class="btn-lg btn-outline-secondary", onclick="stopStream()") Desconectar 
  button(id ="timelapse", class="btn-lg btn-outline-secondary", onclick="configureTimelapse()") Configurar timelapse 
