doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-reboot.css')
    
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/stream.js')
  body
    block content
